<div class="login-container">
    
    <div class="login-container__back">
        <a routerLink="/login"><mat-icon>arrow_back</mat-icon> Back to login</a>
    </div>
    
    <mat-card class="login-form">
        <h2>Recover Password</h2>
        <p>Reset your password using the form below</p>
        <form fxLayout="column" #form="ngForm" (ngSubmit)="recover(form)">
            <mat-form-field appearance="outline">
                    <mat-icon matPrefix>mail</mat-icon>
                <mat-label>Email</mat-label>
              <input matInput type="email" name="email" ngModel>
            </mat-form-field>

            <button mat-flat-button color="primary" [disabled]="loading">
                Recover
                <mat-spinner class='button-spinner' diameter="14" mode="indeterminate" color="primary" *ngIf="loading"></mat-spinner>
            </button>
            
            <p class="errors" *ngIf="errors.length > 0">
                <span *ngFor="let error of errors">{{error}}</span>
            </p>
            
            <a routerLink="/login">Login</a>

        </form>
    </mat-card>
</div>