.create-product{

    
    .create-product__image{
        width: 200px;
        height: 200px;
        display: inline-block;
        background-color: #444444;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;

        &:after{
            content:"Set Product Image";
            position:absolute;
            top:100px;
            left:0px;
            width:100%;
            text-align:center;
            color:white;
            font-size:12px;
        }

    }

    .create-product__images{

        .create-product__image{
            width: 100px;
            height: 100px;
            margin-bottom:0px;
            margin-right:5px;

            &:after{
                content:"Remove";
                font-size:10px;
                top:35px;
            }

        }

        a{
        }

    }

    .create-product__customer-prices-toggle{
        margin-bottom: 5px;
        margin-top: -15px;
    }

    .create-product__customer-prices{
        background-color: #fdfdfd;
        border: 1px solid #8e8e8e;
        padding: 30px;
        padding-bottom: 10px;
        border-radius: 6px;
        margin-bottom: 20px;

        .create-product__customer-prices__price__name{
            font-weight: bold;
            padding-right: 15px;
            padding-bottom: 20px;
        }

        .create-product__customer-prices__price{
            display:flex;
            align-items: center;

            mat-form-field{
                flex:1;
            }
        }
    }


}