<div class="module-actions">
    <button mat-flat-button color="secondary" [routerLink]="['/orders']"><mat-icon>arrow_back</mat-icon> All Orders</button>
    <button mat-flat-button color="primary" class="secondary-action" (click)="editOrder()" ><mat-icon>edit</mat-icon> Edit</button>
</div>


    
<div class="module-loading" *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
</div> 

<div  *ngIf="!loading">
    
    <mat-card class="module-data">        
        <div>
            <div class="module-data__field" *ngFor="let field of getFields()">
                <span class="module-data__field__name">{{formatFieldName(field)}}: </span>
                <span class="module-data__field__value" *ngIf="field === 'ordered_by'"><a [routerLink]="['/users/' + order.user_id]" target="_blank">{{formatFieldValue(field)}}</a></span>
                <span class="module-data__field__value" *ngIf="field === 'location'"><a [routerLink]="['/users/' + order.user_id]" target="_blank">{{formatFieldValue(field)}}</a></span>
                <span class="module-data__field__value" *ngIf="field === 'location_address'"><a [href]="(order.location ? 'http://maps.google.com/?q=' + order.location.address : '')" target="_blank">{{formatFieldValue(field)}}</a></span>
                <span class="module-data__field__value" *ngIf="field !== 'ordered_by' && field !== 'location' && field !== 'location_address'">{{formatFieldValue(field)}}</span>
            </div>
        </div>

    </mat-card>



    <mat-card class="module-data module-data--projects" *ngIf="order.notes">        
     

        <h3>Notes</h3>
        <p class="subtitle">View notes for this order</p>      

        <p style="margin-top:0px;">{{order.notes}}</p>

    </mat-card>



    <mat-card class="module-data module-data--projects">        
     

        <h3>Order Items</h3>
        <p class="subtitle">View all products purchased for this order</p>          
        
        <div class="module-data__current-projects current-projects">
            
            <div class="current-projects__header">
                <div class="current-projects__header__item">Product</div>
                <div class="current-projects__header__item">Unit</div>
                <div class="current-projects__header__item">Quantity</div>
                <div class="current-projects__header__item">Quantity Supplied</div>
                <div class="current-projects__header__item">Status</div>
                <div class="current-projects__header__item">Price</div>
            </div>
            
            
            <div class="current-projects__header__projects">
                <div class="current-projects__header__projects__project" *ngFor="let orderProduct of order.order_products">
                    <div class="current-projects__header__projects__project__item current-projects__header__projects__project__item--name">{{orderProduct.product ? orderProduct.product.name : "Product " + orderProduct.product_id}}</div>
                    <div class="current-projects__header__projects__project__item">{{orderProduct.unit}}</div>
                    <div class="current-projects__header__projects__project__item">{{orderProduct.quantity}}</div>
                    <div class="current-projects__header__projects__project__item">{{orderProduct.quantity_supplied}}</div>
                    <div class="current-projects__header__projects__project__item">{{orderProduct.status}}</div>
                    <div class="current-projects__header__projects__project__item">${{orderProduct.price | number : '1.2-2'}}</div>
                </div>
                
                
            </div>             
            
            
        </div>

    </mat-card>  



</div>