<div class="module-actions">
    <button mat-flat-button color="secondary" [routerLink]="['/users']"><mat-icon>arrow_back</mat-icon> All Users</button>
    <button mat-flat-button color="primary" class="secondary-action" (click)="editUser()" ><mat-icon>edit</mat-icon> Edit</button>
</div>


    
<div class="module-loading" *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
</div> 

<div  *ngIf="!loading">
    
    <mat-card class="module-data">        
        <div>
            <div class="module-data__field" *ngFor="let field of getFields()">
                <span class="module-data__field__name">{{formatFieldName(field)}}: </span>
                <span class="module-data__field__value">{{getFieldValue(field)}}</span>
            </div>
        </div>

    </mat-card>
    
    
    <mat-card class="module-data module-data--projects">        
     

        <h3>{{user.name ? user.name : ("User " + user.id)}}'s Locations</h3>
        <p class="subtitle">Related user locations</p>  
        
        <button mat-flat-button color="primary" class="add-button" (click)="addLocation()" ><mat-icon>edit</mat-icon> Add New Location</button>
        
        <div class="module-data__current-projects current-projects">
            
            <div class="current-projects__header">
                <div class="current-projects__header__item">Name</div>
                <div class="current-projects__header__item">Address</div>
                <div class="current-projects__header__item">Coordinates</div>
                <div class="current-projects__header__item">Added At</div>
                <div class="current-projects__header__item"></div>
            </div>
            
            
            <div class="current-projects__header__projects" *ngFor="let location of user.locations">
                <div class="current-projects__header__projects__project" (click)="editLocation(location)"
                [ngClass]="{'current-projects__header__projects__project--default' : location.id === user.default_location_id}">
                    <div class="current-projects__header__projects__project__item current-projects__header__projects__project__item--name">{{location.name}}</div>
                    <div class="current-projects__header__projects__project__item">{{location.address}}</div>
                    <div class="current-projects__header__projects__project__item">{{location.latitude && location.longitude ? (location.latitude + ", " + location.longitude) : ""}} </div>
                    <div class="current-projects__header__projects__project__item">{{formatDate(location.created_at)}}</div>
                    <div class="current-projects__header__projects__project__item"><span class="edit-button">Edit Location</span></div>
                </div>
                
            </div>             
            
            
        </div>

    </mat-card>    
    
    
    <mat-card class="module-data module-data--penetrations" *ngIf="user.orders && user.orders.length > 0">        
     

        <h3>{{user.name ? user.name : ("User " + user.id)}}'s Orders</h3>
        <p class="subtitle">All created orders</p>          
        
        <div class="module-data__current-projects current-projects">
            
            <div class="current-projects__header">
                <div class="current-projects__header__item">Order #</div>
                <div class="current-projects__header__item">Location</div>
                <div class="current-projects__header__item">Status</div>
                <div class="current-projects__header__item"># Of Items</div>
                <div class="current-projects__header__item">Created At</div>
            </div>
            
            
            <div class="current-projects__header__projects">
                <a class="current-projects__header__projects__project" *ngFor="let order of user.orders"  [routerLink]="['/orders/' + order.id]" >
                    <div class="current-projects__header__projects__project__item current-projects__header__projects__project__item--name">{{order.id}}</div>
                    <div class="current-projects__header__projects__project__item">{{order.location ? order.location.name : ""}}</div>
                    <div class="current-projects__header__projects__project__item">{{order.status}}</div>
                    <div class="current-projects__header__projects__project__item">{{order.order_products ? order.order_products.length : ""}}</div>
                    <div class="current-projects__header__projects__project__item">{{formatDate(order.created_at)}}</div>
                </a>
            </div>            
            
            
        </div>

    </mat-card>      
    
    
    

    
</div>





