.login-container{
    
    display:flex;
    background-color:#FFFFFF;
    
    .login-container__left{
        width:65%;
        height:100vh;
        display:flex;
        align-items:center;
	background: linear-gradient(90deg, #00798D, #00979A, #22B499, #68CF8D, #ADE67C, #F9F871);
	background-size: 200% 200%;
        animation: gradient 10s ease infinite;
	
        
        .login-container__left__content{
            padding: 0px 40px;
            max-width: 100%;
            width: 800px;
            margin: 0 auto;
            text-align:Center;
            img{
                max-width:100%;
                width:500px;
            }
            
            p{
                color:white;
            }
        }
        
    }
    
    .login-container__right{
        flex:1;
        display:flex;
        height:100vh;
        align-items:center;
        position:relative;
        .login-container__right__content{
            
            padding: 0px 40px;
            max-width: 100%;
            width: 400px;
            margin: 0 auto;            
            
            mat-form-field{
                mat-icon{
                    color:#9e9e9e;
                }
            }
            
            h1{
                margin:0px;
                margin-bottom:10px;
                line-height: 44px;
            }
            
            p{
                margin:0px;
                margin-bottom:40px;
            }
            
        
            a{
                margin-top:25px;
                font-size:14px;
                cursor:pointer;
                color:#9e9e9e;  
                        display:block;	
                        text-align:center;
            }   
            
.button-spinner{
    display:inline-block;
    margin-left:5px;
}

.errors{
    color:red;
    margin-bottom: 0px;
        margin-top: 15px;
    text-align: center;
}

.errors span{
    display:block;
}            
            
            
            
        }
        
        .login-container__right__signup{
                position: absolute;
                bottom: 0px;
                left: 0px;
                text-align:center;
                width:100%;
                
                p{
                    margin: 0px;
                        font-size: 14px;
                        padding: 25px 30px;
                }
                
                a{
                    color:#2e8b57;
                }
        }
        
        
        
    }
    
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 40% 50%;
                
	}
	100% {
		background-position: 0% 50%;
	}
}
/*.login-container{
    position:relative;
    min-height:100vh;
}

.login-container:after{
    content:"";
    position:absolute;
    width:100%;
    height:65%;
    background-color:#0A192F;
    top:0px;
    left:0px;
    z-index:-1;
    max-height: 480px;
    min-height: 480px;
}



.login-form{
    max-width:400px;
    margin:0 auto;
    text-align:center;
    padding: 40px 40px;
	
	mat-form-field{
	display:block;
	}
	
        
    a{
        margin-top:15px;
        font-size:14px;
        cursor:pointer;
        color:#2e8b57;   
		display:block;		
    }
    
    h2{
        margin-top:0px;
    }
    
    
    .login-form__create-account{
            margin-top: 40px;
        a{
            display:inline-block;
            margin:0px;
            font-size:inherit;
        }
    }
    
}


.login-logo{
    text-align: center;
    margin-bottom: 60px;
    padding-top: 6%;
    
    img{
        width: 400px;
    }
}

.button-spinner{
    display:inline-block;
    margin-left:5px;
}

.errors{
    color:red;
    margin-bottom: 0px;
}

.errors span{
    display:block;
}*/

@media only screen and (max-width:1000px){
    .login-container .login-container__left{
        display:none;
    }
}