<h2 mat-dialog-title>Customer Prices</h2>
<mat-dialog-content class="business-prices">





    <h5>{{product.name}}</h5>


    <div class="business-prices__loading" *ngIf="loading">
        <mat-spinner diameter="40"></mat-spinner>
    </div> 



    <div  *ngFor="let userPrice of userPrices" class="business-prices__price">
        
            <h6>{{userPrice.name}}</h6>
        <div class="business-prices__row">

                <mat-form-field>
                    <mat-label>Fixed Price ($)</mat-label>
                    <input matInput type="number" name="price" autocomplete="false" [(ngModel)]="userPrice.fixed_price" (change)="saveUserPrice(userPrice)">
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Price Adjustment ($)</mat-label>
                    <input matInput type="number" name="price" autocomplete="false" [(ngModel)]="userPrice.fixed_adjustment" (change)="saveUserPrice(userPrice)">
                </mat-form-field>



                <mat-form-field>
                    <mat-label>Percentage Adjustment (%)</mat-label>
                    <input matInput type="number" name="price" autocomplete="false" [(ngModel)]="userPrice.percentage_adjustment" (change)="saveUserPrice(userPrice)">
                </mat-form-field>

            </div>

            <div class="business-prices__new-price" *ngIf="userPrice.fixed_price || userPrice.fixed_adjustment || userPrice.percentage_adjustment">
                New Price: ${{calculateNewPrice(userPrice) | number : '1.2-2'}}
            </div>

</div>


</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Dismiss</button>
    <button mat-button (click)="save()" color="primary">Save</button>    
</mat-dialog-actions>